@font-face {
  font-family: "iconfont"; /* Project id 3408815 */
  src: url('./iconfont/iconfont.woff2?t=1652792501865') format('woff2'),
       url('./iconfont/iconfont.woff?t=1652792501865') format('woff'),
       url('./iconfont/iconfont.ttf?t=1652792501865') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chazhao:before {
  content: "\e638";
}

